* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.display-flex {
    display: flex;
}



/* Navbar related styles */


header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    padding-bottom: 45px;
    margin-bottom: 85px;
}

nav {
    max-width: 1452px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


nav ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}

.brand-name {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}



/* Banner related styles */

.banner-container {
    max-width: 1452px;
    margin: 0 auto;
    padding-top: 102px;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #131313;
}

.banner-content p {
    font-size: 16px;
    color: #727272;
    margin-bottom: 18px;
    line-height: 28px;
}

.primary-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}


.banner-image {
    max-width: 1452px;
}

.banner-image img {
    width: 100%;
}


/* Feature related styles */

.feature-container {
    max-width: 1318px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 130px;
}

.feature-image-container {
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-image-container img {
    width: 100%;
    max-width: 342px;
}


.feature-content {
    max-width: 471px;
}

.feature-content h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;

}

.low-opacity {
    color: #727272;
    font-weight: 400;
}

.orange {
    color: #FF900E;
}

.feature-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #727272;
}


/* Experience Section styles */

.info-container {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 2px solid #FF900E; */
    margin-bottom: 130px;
}

.info-heading {
    margin-bottom: 30px;
}

.info-heading h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
    border-left: 6px solid #FF900E;
    padding-left: 20px;
}

.info-heading p {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
}

.info-content {
    max-width: 586px;

}

.skills-card {
    max-width: 100%;

    border-radius: 8px;
    padding: 30px;
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.skills-card h4 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.skills-card p {
    font-size: 16px;
    color: #727272;

}

.info-image {
    max-width: 708px;
}

.info-image img {
    width: 100%;
}

.badge {
    padding: 45px;
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 8px;

    margin-left: -92px;
    margin-top: -100px;
}

.badge-year {
    font-size: 65px;
    font-weight: 800;

}

.badge-text {
    font-size: 25px;
    font-weight: 600;
}


/* Facts container styles */

.facts-container {
    max-width: 1392px;
    margin: 0 auto;
    margin-bottom: 175px;
}

.facts-heading {
    max-width: 542px;
    margin-bottom: 100px;
}

.facts-heading h3 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 17px;

}

.facts-heading p {
    font-size: 16px;
    color: #727272;
}

.facts-card-container {
    max-width: 1342px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* border: 1px solid black; */
    
    gap: 124px;

}

.facts-card {
    width: 100%;
    max-width: none;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px;
    text-align: center;
    margin: 0 auto;
    flex: 1;


}

.facts-card h2{
    /* font-size: 45px; */
    font-weight: 700;
    color: #424242;
    margin-bottom: 5px;

}
.facts-card p{
    font-size: 20px;
    font-weight: 700;
    color: #727272;
}



.facts-card .img {
    max-width: 45px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.facts-card img {
    width: 100%;
}