* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.display-flex {
    display: flex;
}



/* Navbar related styles */


header {
    background-color: rgba(255, 144, 14, 0.1);
    padding-top: 50px;
    padding-bottom: 45px;
    margin-bottom: 85px;
}

nav {
    max-width: 1452px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}


nav ul li {
    list-style-type: none;
    text-decoration: none;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    font-size: 18px;
    color: #424242;
}

.brand-name {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}



/* Banner related styles */

.banner-container {
    max-width: 1452px;
    margin: 0 auto;
    padding-top: 102px;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-content h2 {
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 18px;
    color: #131313;
}

.banner-content p {
    font-size: 16px;
    color: #727272;
    margin-bottom: 18px;
    line-height: 28px;
}

.primary-btn {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    color: white;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
}


.banner-image {
    max-width: 1452px;
}

.banner-image img {
    width: 100%;
}


/* Feature related styles */

.feature-container {
    max-width: 1318px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 130px;
}

.feature-image-container {
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-image-container img {
    width: 100%;
    max-width: 342px;
}


.feature-content {
    max-width: 471px;
}

.feature-content h2 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 24px;

}

.low-opacity {
    color: #727272;
    font-weight: 400;
}

.orange {
    color: #FF900E;
}

.feature-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #727272;
}